@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: gray;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.right-links, .left-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.content {
  /* height: 100%; */
  display: flex;
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  flex-shrink: 0; /* prevent shrinking */
  justify-content: space-between;
  padding: 20px;
}